<!DOCTYPE html>
<html>
  <head>
    <title>Monopoly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">
      window.onerror=function(msg){
        document.body.setAttribute("JSError", msg);
      }
    </script>
  </head>

  <body>
    <%= render partial: 'shared/top_bar' %>
    <div id='page-errors'>
      <%= display_alert(:danger, flash[:alert]) if flash[:alert].present? %>
    </div>

    <div id='page-notices'>
      <%= display_alert(:info, flash[:notice]) if flash[:notice].present? %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
